# FOR LOOP

### FOR loop in List

In [5]:
l = [1,2,3,4,"python" ,"sql" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
python
sql
45.56

In [3]:
for i in l :
    pass

### Print each letter of word using for loop in a string

In [4]:
s = "python"
for i in s :
    print(i)

p
y
t
h
o
n

### For loop with else condition

In [6]:
l

[1, 2, 3, 4, 'python', 'sql', 45.56]

In [9]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

### for loop with break condition

In [9]:
l

[1, 2, 3, 4, 'python', 'sql', 45.56]

In [10]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [15]:
s = "python"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

p
y
t
h
o
n
print srtring  python

### FOR LOOP in Tuple

In [14]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

### for loop in sets

In [15]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [16]:
type(b)

set

In [17]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [18]:
for i in b :
    print(i)

4
5
6
7
8
sudh

### For loop in dictionary

In [18]:
d = {'key1' :"python" , 'contact' : "mongodb" , "position" : "data science"}

In [19]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : python
contact : mongodb
position : data science

In [20]:
d['key1']

'python'

## RANGE FUNCTION

In [21]:
range(9)

range(0, 9)

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [31]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

#### range with step

In [32]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [33]:
list(range(0,9 , -1))

[]

In [23]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
list(range(0,1))

[0]

In [34]:
n = 4
for i in range(n) :
    for j in range(0 ,i+1) : 
        print("Python" , end = "     ")
    print("\n")

Python

Python     Python

Python     Python     Python

Python     Python     Python     Python

In [35]:
list(range(3))

[0, 1, 2]

In [37]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("python"),end=" ")
    for j in range(i+1):
        print("python",end=" ")
    for j in range(i): 
        print("python",end=" ")
    print()

              python
       python python python
python python python python python

### PRINT TUPLE VALUES ALONG WITH ITS INDEX USING FOR LOOP

In [42]:
t = (3,23,45,67,2,4,5,6)

In [43]:
len(t)

8

In [55]:
t[0]

3

In [57]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

#### FILTER AND PRINT VALUES FROM A LIST

In [48]:
l = ["python" , "sql" , 3234545 , "machinelearning" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == str :
        l1.append(i)

In [49]:
l1

['python', 'sql', 'machinelearning']

#### FILTER AND PRINT VALUES FROM A DICT

In [50]:
 d = {1: 3345345  , "name" : "python" , "email_id" : "machinelearning.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [ ]:
type

In [79]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

### count letters in a string and print the value against it

In [53]:
s = "aaaabbccdddd"

In [54]:
for i in set(s):
    print(i  , ":" , s.count(i))

a : 4
d : 4
b : 2
c : 2

### Extract 3 from dictionary

In [58]:
t=("python","sql",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"python","key2":"sql"})

In [128]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [134]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [135]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

# FUN LEARNING

In [160]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *